<%= form_for @fall_detection, :html => { :class => "form-horizontal fall_detection" } do |f| %>

  <% if @fall_detection.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@fall_detection.errors.count, "error") %> prohibited this fall_detection from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @fall_detection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :detected_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :detected_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:detected_time) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fall_detections_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
