<%- model_class = FallDetection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:detected_time) %>:</strong></dt>
  <dd><%= @fall_detection.detected_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              fall_detections_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fall_detection_path(@fall_detection), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              fall_detection_path(@fall_detection),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
