<%= form_for @contact, :html => {:class => "form-horizontal contact"} do |f| %>

    <% if @contact.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= f.error_span(:name) %>
    </div>
    <div class="form-group">
      <%= f.label :number, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :number, :class => 'form-control' %>
      </div>
      <%= f.error_span(:number) %>
    </div>
    <div class="form-group">
      <%= f.label :image, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :image, :class => 'form-control' %>
      </div>
      <%= f.error_span(:image) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    contacts_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
