<%= form_for @sugar_level, :html => { :class => "form-horizontal sugar_level" } do |f| %>

  <% if @sugar_level.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sugar_level.errors.count, "error") %> prohibited this sugar_level from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sugar_level.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :mg_per_dl, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mg_per_dl, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mg_per_dl) %>
  </div>
  <div class="form-group">
    <%= f.label :checkup_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :checkup_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:checkup_time) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sugar_levels_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
