<%- model_class = SugarLevel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:mg_per_dl) %></th>
      <th><%= model_class.human_attribute_name(:checkup_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sugar_levels.each do |sugar_level| %>
      <tr>
        <td><%= link_to sugar_level.id, sugar_level_path(sugar_level) %></td>
        <td><%= sugar_level.mg_per_dl %></td>
        <td><%= sugar_level.checkup_time %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sugar_level_path(sugar_level), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sugar_level_path(sugar_level),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sugar_level_path,
            :class => 'btn btn-primary' %>
