<%- model_class = SugarLevel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mg_per_dl) %>:</strong></dt>
  <dd><%= @sugar_level.mg_per_dl %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checkup_time) %>:</strong></dt>
  <dd><%= @sugar_level.checkup_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sugar_levels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sugar_level_path(@sugar_level), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sugar_level_path(@sugar_level),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
