<%= form_for @blood_pressure, :html => { :class => "form-horizontal blood_pressure" } do |f| %>

  <% if @blood_pressure.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@blood_pressure.errors.count, "error") %> prohibited this blood_pressure from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @blood_pressure.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :systolic, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :systolic, :class => 'form-control' %>
    </div>
    <%=f.error_span(:systolic) %>
  </div>
  <div class="form-group">
    <%= f.label :diastolic, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :diastolic, :class => 'form-control' %>
    </div>
    <%=f.error_span(:diastolic) %>
  </div>
  <div class="form-group">
    <%= f.label :checkup_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :checkup_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:checkup_time) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                blood_pressures_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
