<%- model_class = BloodPressure -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:systolic) %></th>
      <th><%= model_class.human_attribute_name(:diastolic) %></th>
      <th><%= model_class.human_attribute_name(:checkup_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @blood_pressures.each do |blood_pressure| %>
      <tr>
        <td><%= blood_pressure.systolic %></td>
        <td><%= blood_pressure.diastolic %></td>
        <td><%= blood_pressure.checkup_time %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_blood_pressure_path(blood_pressure), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      blood_pressure_path(blood_pressure),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blood_pressure_path,
            :class => 'btn btn-primary' %>
