<%- model_class = BloodPressure -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:systolic) %>:</strong></dt>
  <dd><%= @blood_pressure.systolic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diastolic) %>:</strong></dt>
  <dd><%= @blood_pressure.diastolic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:checkup_time) %>:</strong></dt>
  <dd><%= @blood_pressure.checkup_time %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              blood_pressures_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_blood_pressure_path(@blood_pressure), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              blood_pressure_path(@blood_pressure),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
