<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Images</h1>

<table class="table table-bordered table-striped">

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to image_tag(image.name.thumb.url), image %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path, class: 'btn btn-link' %>
