<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @image.name.detail.url %>
</p>

<%= link_to 'Edit', edit_image_path(@image), class: "btn btn-link" %> |
<%= link_to 'Back', images_path, class: "btn btn-link" %>
