<!DOCTYPE html>
<html>
<head>
  <title>AssestiveDomotics</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="panel-body">
<% if user_signed_in? %>
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav">
        <li class="active"><%= link_to('Dashboard', root_path) %></li>
        <li><%= link_to('Manage Photos', images_path) %></li>
        <li><%= link_to('Blood Pressure Status', blood_pressures_path) %></li>
        <li><%= link_to('Sugar Level Status', sugar_levels_path) %></li>
        <li><%= link_to('Fall Detection', fall_detections_path) %></li>
        <li><%= link_to('Contacts', contacts_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
<% end %>


<div class="col-xs-12 col-sm-9">
  <%= yield %>
</div>


</body>
</html>
